<div class="div-block-46">
    <div>
      <div class="mover-wrap">
        <div class="mover-wrapper red-background _213">
          <div class="div-block">
            <div class="mover-item">
              <a href="/contact" aria-current="page" class="mover-link w-inline-block w--current">
                <h3 class="bordered-text red-text">Let's chat</h3>
                <div class="mover-dot"></div>
              </a>
            </div>
            <div class="mover-item">
              <a href="/contact" aria-current="page" class="mover-link w-inline-block w--current">
                <h3 class="bordered-text red-text">Let's chat</h3>
                <div class="mover-dot"></div>
              </a>
            </div>
            <div class="mover-item">
              <a href="/contact" aria-current="page" class="mover-link w-inline-block w--current">
                <h3 class="bordered-text red-text">Let's chat</h3>
                <div class="mover-dot"></div>
              </a>
            </div>
            <div class="mover-item">
              <a href="/contact" aria-current="page" class="mover-link w-inline-block w--current">
                <h3 class="bordered-text red-text">Let's chat</h3>
                <div class="mover-dot"></div>
              </a>
            </div>
            <div class="mover-item">
              <a href="/contact" aria-current="page" class="mover-link w-inline-block w--current">
                <h3 class="bordered-text red-text">Let's chat</h3>
                <div class="mover-dot"></div>
              </a>
            </div>
            <div class="mover-item">
              <a href="/contact" aria-current="page" class="mover-link w-inline-block w--current">
                <h3 class="bordered-text red-text">Let's chat</h3>
                <div class="mover-dot"></div>
              </a>
            </div>
            <div class="mover-item">
              <a href="/contact" aria-current="page" class="mover-link w-inline-block w--current">
                <h3 class="bordered-text red-text">Let's chat</h3>
                <div class="mover-dot"></div>
              </a>
            </div>
            <div class="mover-item">
              <a href="/contact" aria-current="page" class="mover-link w-inline-block w--current">
                <h3 class="bordered-text red-text">Let's chat</h3>
                <div class="mover-dot"></div>
              </a>
            </div>
            <div class="mover-item">
              <a href="/contact" aria-current="page" class="mover-link w-inline-block w--current">
                <h3 class="bordered-text red-text">Let's chat</h3>
                <div class="mover-dot"></div>
              </a>
            </div>
            <div class="mover-item">
              <a href="/contact" aria-current="page" class="mover-link w-inline-block w--current">
                <h3 class="bordered-text red-text">Let's chat</h3>
                <div class="mover-dot"></div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div data-w-id="88065cb8-2e44-ba35-f3f7-098beb8553e2" class="section contact-hero">
        <div class="div-block-31">
          <h3 class="heading-5">Contact</h3>
        </div>
        <div data-w-id="88065cb8-2e44-ba35-f3f7-098beb8553e6" class="text-block-8">Merci de vous intéressez à notre entreprise.<br>Décrivez-nous votre projet à l’aide du formulaire ci-dessous. Nous vous recontacterons sous 24h pour vous faire une proposition d’accompagnement !</div>
      </div>
      <div data-w-id="88065cb8-2e44-ba35-f3f7-098beb85541f" class="section-7 wf-section">
        <div class="col below">
          <div class="div-block-33">
            <div class="text-block-9">01 87 76 51 37</div>
          </div>
          <div class="div-block-34">
            <div class="text-block-10">contact@newave.biz</div>
          </div>
          <div class="div-block-35">
            <div class="text-block-11">Paris<br>Tel Aviv<br>Athènes</div>
          </div>
        </div>
        <div class="div-block-32">
          <div class="form-block-2 w-form">
            <form id="email-form-2" name="email-form-2" data-name="email_2" class="form-2" data-netlify="true" data-ajax="true" data-content-type="application/x-www-form-urlencoded">
              <div><label for="Name-4" class="field-label">Nom *</label><input type="text" class="text-field-2 w-input" maxlength="256" name="Name-4" data-name="Name 4" id="Name-4"></div>
              <div><label for="email-3" class="field-label">Email *</label><input type="email" class="text-field-2 w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="" id="email-2" required=""></div>
              <div><label for="email-3" class="field-label">Téléphone *</label><input type="email" class="text-field-2 w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="" id="email-2" required=""></div>
              <div><label for="email-3" class="field-label">Société *</label><input type="email" class="text-field-2 w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="" id="email-2" required=""></div>
              <div class="div-block-36">
                <div class="col budget"><label for="email-3" class="field-label">Budget *</label>
                  <div class="div-block-16"><select id="field-2" name="field-2" required="" data-name="Field 2" class="select-field w-select">
                      <option value="Budget">&lt; 1 000 €</option>
                      <option value="Second">1000 € - 5000 €</option>
                      <option value="Third">5000 € - 10,000€</option>
                      <option value="Fourth">10,000 € - 50,000 €</option>
                    </select></div>
                </div>
              </div>
              <div class="div-block-50">
                <div class="div-block-29">
                  <div class="col _87"><label for="email-3" class="field-label service">Service*</label>
                    <div class="div-block-30"><label class="w-checkbox checkbox-field-2">
                        <div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox-3"></div><input type="checkbox" id="checkbox-5" name="checkbox-5" data-name="Checkbox 5" style="opacity:0;position:absolute;z-index:-1"><span class="checkbox-label w-form-label">Marketing</span>
                      </label><label class="w-checkbox">
                        <div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox"></div><input type="checkbox" id="checkbox-4" name="checkbox-4" data-name="Checkbox 4" required="" style="opacity:0;position:absolute;z-index:-1"><span class="checkbox-label-2 w-form-label">Web Dev</span>
                      </label><label class="w-checkbox">
                        <div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox-4"></div><input type="checkbox" id="checkbox-3" name="checkbox-3" data-name="Checkbox 3" style="opacity:0;position:absolute;z-index:-1"><span class="checkbox-label-3 w-form-label">App / Saas</span>
                      </label><label class="w-checkbox">
                        <div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox-2"></div><input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1"><span class="checkbox-label-4 w-form-label">Conseil</span>
                      </label></div>
                  </div>
                </div>
              </div>
              <div id="w-node-_88065cb8-2e44-ba35-f3f7-098beb85545d-eb8553e1" class="div-block-51"><textarea placeholder="Votre message*" maxlength="5000" id="Description-4" data-name="Description 4" name="Description-4" class="text-field _3 w-input"></textarea></div><input type="submit" value="Envoyer" data-wait="Un petit moment..." id="w-node-_88065cb8-2e44-ba35-f3f7-098beb85545f-eb8553e1" class="button w-button">
            </form>
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>