<footer id="footer" class="footer wf-section">
    <div class="container footer-container w-container">
      <div class="footer-flex-container">
        <div class="row jkhjk">
          <div class="col footer-col">
            <h2 class="footer-heading">Pages</h2>
            <div class="row">
              <div class="col footer-inside-col">
                <ul role="list" class="w-list-unstyled">
                  <li>
                    <a href="/services" class="footer-link">About</a>
                  </li>
                  <li>
                    <a href="/team" class="footer-link team">Team</a>
                    <a href="/blog" class="footer-link">Blog</a>
                  </li>
                </ul>
              </div>
              <div class="col">
                <ul role="list" class="w-list-unstyled">
                  <li>
                    <a href="/portfolio" class="footer-link">Portfolio</a>
                    <a href="/contact" class="footer-link">Contact</a>
                    <a href="#" class="footer-link career">Careers</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col">
            <h2 class="footer-heading casestudy">Case Studies</h2>
            <ul role="list" class="w-list-unstyled">
              <li>
                <a href="/style-guide" class="footer-link styleguide">Style Guide</a>
              </li>
              <li>
                <a href="/license" class="footer-link licensepage">License Page</a>
              </li>
            </ul>
          </div>
        </div>
        <a href="#" class="footer-logo-link w-inline-block">{%- image "/assets/images/tetetete.001.png", "", '[{"max":479,"size":"36px"},{"max":10000,"size":"100vw"}]', 'class="footer-image _123"' -%}</a>
      </div>
      <div class="footer-bottom">
        <div class="footer-bottom-left-side">
          <div class="footer-socials">
            <a data-w-id="6faabf27-5cb5-a73c-516d-48a8935ab5ce" href="https://www.facebook.com/webflow/" target="_blank" class="footer-social fb w-inline-block">{%- image "/assets/images/group-2.svg", "", '[]', 'class="footer-social-icon"' -%}</a>
            <a data-w-id="6faabf27-5cb5-a73c-516d-48a8935ab5d0" href="https://www.instagram.com/newave_agency/" target="_blank" class="footer-social w-inline-block">{%- image "/assets/images/group-9.svg", "", '[]', 'class="footer-social-icon"' -%}</a>
            <a data-w-id="6faabf27-5cb5-a73c-516d-48a8935ab5d2" href="https://twitter.com/webflow" target="_blank" class="footer-social ko w-inline-block">{%- image "/assets/images/group-10_1.svg", "", '[]', 'class="footer-social-icon"' -%}</a>
          </div>
          <div class="footer-text">Powered by <a href="http://webflow.com" class="white-link">Webflow</a>. Support <a href="https://maciejkociela.pl" class="white-link">Maciej Kociela</a>
          </div>
        </div>
        <div class="copyright">Copyright © 2020 New Wave Agency All rights reserved.</div>
      </div>
    </div>
  </footer>