<div data-w-id="531a9c0b-18e4-9af6-ab6e-a7bf9daa0e6a" class="intro-animation">
    <div>
      <div data-w-id="531a9c0b-18e4-9af6-ab6e-a7bf9daa0e6b" class="intro-stripe _1"></div>
      <div data-w-id="531a9c0b-18e4-9af6-ab6e-a7bf9daa0e6c" class="intro-stripe _2"></div>
      <div data-w-id="531a9c0b-18e4-9af6-ab6e-a7bf9daa0e6d" class="intro-stripe _3"></div>
      <div data-w-id="531a9c0b-18e4-9af6-ab6e-a7bf9daa0e6e" class="intro-stripe _4"></div>
      <div data-w-id="531a9c0b-18e4-9af6-ab6e-a7bf9daa0e6f" class="intro-stripe _5"></div>
      <div data-w-id="531a9c0b-18e4-9af6-ab6e-a7bf9daa0e70" class="intro-stripe _6"></div>
      <div data-w-id="531a9c0b-18e4-9af6-ab6e-a7bf9daa0e71" class="intro-stripe _7"></div>
      <div data-w-id="531a9c0b-18e4-9af6-ab6e-a7bf9daa0e72" class="intro-stripe _8"></div>
    </div>
  </div>