<div id="131313" data-w-id="f694ae7f-9206-11cf-ba64-fbbbaa869a61" class="section red-mode contact-section">
    <div class="div-block-104">
      <div id="contactsect" class="container narrow">
        <div class="div-block-94">
          <div class="text-block-44">Contactez Nous</div>
        </div>
        <div class="div-block-90">
          <div class="text-block-43">Remplissez votre adresse e-mail ci-dessous <br>pour prendre contacte avec nous. <br>Nous avons hâte de travailler avec vous.</div>
        </div>
        <div class="section-header"></div>
        <div class="form-block w-form">
          <form id="email-form" name="email-form" data-name="email" class="form" data-netlify="true" data-ajax="true" data-content-type="application/x-www-form-urlencoded">
            <div class="row form-row">
              <div class="col"><input type="email" class="text-field w-input" maxlength="256" name="Email" data-name="Email" placeholder="Tapez Votre Email" id="Email"><input type="submit" value="Envoyer" data-wait="Patientez..." class="button w-button"></div>
            </div>
          </form>
          <div class="success-message w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="error-message w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
        <div class="div-block-91">
          <div class="div-block-92">
            <div class="footer-socials">
              <a href="https://www.instagram.com/newave_agency/" target="_blank" class="footer-social w-inline-block">{%- image "/assets/images/group-9.svg", "", '[]', 'class="footer-social-icon"' -%}</a>
            </div>
          </div>
          <div>
            <div class="footer-socials">
              <a href="https://www.linkedin.com/company/70887916/" target="_blank" class="footer-social w-inline-block">{%- image "/assets/images/qwerwerwe.png", "", '[{"max":10000,"size":"20px"}]', 'class="footer-social-icon"' -%}</a>
            </div>
          </div>
          <div>
            <div class="footer-socials">
              <a href="https://www.facebook.com/New-Wave-Agency-107129118002337" target="_blank" class="footer-social _3234 w-inline-block">{%- image "/assets/images/group-2-2.svg", "", '[]', 'class="footer-social-icon tweeter"' -%}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>