<div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="navbarkjhkjh w-nav">
      <div class="nav-containerkjk">
        <a href="/mobile" class="brand w-nav-brand">{%- image "/assets/images/functionity-2.svg", "", '[]', 'class="lokok"' -%}</a>
        <nav role="navigation" class="nav-menu w-nav-menu">
          <div class="nav-menu-inside">
            <a href="#" class="nav-link black-link w-nav-link">Team</a>
            <a href="/services" class="nav-link black-link w-nav-link">About</a>
            <a href="/blog" class="nav-link black-link w-nav-link">Blog</a>
            <a href="/portfolio" class="nav-link black-link w-nav-link">Portfolio</a>
            <a href="/contact" class="nav-link black-link w-nav-link">Contact</a>
            <a href="#" class="nav-link hiring w-nav-link">we are hiring</a>
          </div>
        </nav>
        <div class="contact-nav">
          <div class="contact-nav-dot"></div>
          <div>
            <a href="tel:01004313212" class="contact-nav-element light-mode w-inline-block">
              <div>T: 0 100 431 3212</div>
            </a>
            <a data-w-id="463cc6bb-4e03-0dd2-4d01-fe10f4f43e85" href="mailto:contact@functionity.io" class="contact-nav-element light-mode w-inline-block">
              <div>E: contact@functionity.io</div>
            </a>
          </div>
        </div>
        <div class="menu-burger w-nav-button">
          <div data-w-id="4f717c57-16fd-6f8d-c6bd-86536bed640d" class="burger">
            <div class="burger-bar-wrap w-clearfix">
              <div class="bar-1 black-stripe"></div>
              <div class="bar-2 black-stripe"></div>
              <div class="bar-3 black-stripe"></div>
            </div>
          </div>
        </div>
      </div>
    </div>