<div data-collapse="medium" data-animation="default" data-duration="400" data-w-id="f79e197d-5858-7d0b-b1f3-b50a45910c3e" role="banner" class="navbarkjhkjh w-nav">
    <div class="nav-containerkjk">
      <a href="/" class="brand w-nav-brand">{%- image "/assets/images/tetetete.001.png", "", '[{"max":479,"size":"101px"},{"max":767,"size":"100px"},{"max":10000,"size":"100vw"}]', 'class="lokok"' -%}</a>
      <nav role="navigation" class="nav-menu dark-mode w-nav-menu">
        <div class="nav-menu-inside">
          <a href="/team" class="nav-link w-nav-link">Notre Approche</a>
          <a href="/services" class="nav-link w-nav-link">Nos Services</a>
          <a href="/blog" class="nav-link w-nav-link">Nos Projets</a>
          <a href="/contact" aria-current="page" class="nav-link w-nav-link w--current">Contact</a>
          <a href="#" class="nav-link hiring w-nav-link">we are hiring</a>
        </div>
        <div class="menu-burger w-nav-button">
          <div class="burger">
            <div class="burger-bar-wrap w-clearfix">
              <div class="bar-1"></div>
              <div class="bar-2"></div>
              <div class="bar-3"></div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>