<div class="intro-socials">
      <div class="red-dot"></div>
      <div>Socials</div>
      <div class="socials-stripe"></div>
      <a href="https://www.facebook.com/webflow/" class="social-box w-inline-block">{%- image "/assets/images/group-2-2.svg", "", '[]', 'loading="lazy" class="social-icon"' -%}</a>
      <a href="https://www.instagram.com/webflow/" class="social-box w-inline-block">{%- image "/assets/images/group-9_1.svg", "", '[]', 'loading="lazy" class="social-icon"' -%}</a>
      <a href="https://twitter.com/webflow" class="social-box w-inline-block">{%- image "/assets/images/group-10.svg", "", '[]', 'loading="lazy" class="social-icon"' -%}</a>
    </div>